
body, ul, li {

	margin: 0;
	font-family: helvetica; 
	text-align: center;
	
}


body {
	background-color: white;
}

nav {
	display: block;
	background-color: #4c291c;
	height: 65px;
	margin-top: -12px;

}

nav a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-weight: 400;
	padding: 0 25px;
}

nav ul li {
	display: inline;
	float: right;
	padding: 20px 0;
	text-transform: uppercase;
}

nav p {
	display: inline;
	float: left;
}

.carousel-caption {
	height: 500px;
}

.carousel-caption h1, p {
	color: white;

}

.carousel-caption h1 {
	text-transform: uppercase;
}

.carousel-caption h3 {
	font-size: 15px;
	text-transform: uppercase;
}


#carousel-example-generic {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
}

#carousel-example-generic .left {
	background-image: none;
	border: 0;
}


#carousel-example-generic .right {
	background-image: none;
	border: 0;
}

.container-fluid p {
	color: gray;
}

#carousel-example-generic img {
}

.spacer {
	margin-top: 90px;
}


.container-fluid1 p {
	font-size: 14;
	color: gray;
}

.one {
	width: 700px;
	float: center;
<<<<<<< HEAD
	border-top: 3px solid #898686;
}

.two {

	width: 400px;
	float: center;
	border-top: 1px solid gray;

=======
	border-top: 1px solid #898686;
}

.two {

	width: 300px;
	float: center;
	border-top: 1px solid gray;

}

.three {
	width: 500px;
	float: center;
	border-top: 1px solid gray;
}

.comment i, p{
	display: inline-block; 
}

.bottom {
	display: inline-block;
}

.bottom p {
	position: absolute;
>>>>>>> master
}